.about-main-div {
  width: 80%;
  gap: 200px;
}
.about-main {
  width: 100%;
  padding: 10px;
}
.companyTitel {
  text-align: justify;
  width: 50%;
}


.span,
.companyTitel > h6 {
  color: red;
}
.companyTitel > h1 {
  font-size: 2vw;
  /* text-align: left; */
}
.companyTitel > p {
  font-size: 18px;
}

.about-main-div > div:first-child {
  /* width:50%; */
}

.about-main-div > div:first-child {
  background-color: #ededed;
}
.company-text {
  padding-left: 60px;
  text-align: left;
  padding-bottom: 20px;
}
.company-text > h4 {
  margin-top: 15px;
}
.company-text > h5 {
  color: var(--text-black-700);
}

.companyImag {
  padding: 60px 0px 0px 0px;
  display: block;
  background-color: #ededed;
  max-width: 400px;
  width: 100%;
}

.companyImag > img {
  position: relative;
  left: 60px;
  width: 100%;
}
.companyTitel > .h6 {
    font-size: 2.1875rem;
    text-align: center;
  }
@media only screen and (max-width: 650px) {
  .about-main-div {
    flex-direction: column;
  }
  .company-text {
    text-align: center;
    padding-left: 0px;
  }
  .companyTitel > h1 {
    font-size: 4vw;
  }
  .h6+h1{
    font-size: 4vw;
  }

  .companyTitel > p {
    font-size: 15px;
  }
  .companyImag {
    max-width: 100%;
    padding: 2px;
  }
  .companyTitel {
    padding: 2px;
  }
  .about-main-div {
    width: 100%;
  }
  .companyTitel {
    width: 100%;
    margin: auto;
    /* border: 1px solid black; */
  }

  .companyImag > img {
    position: static;
    width: 100%;
  }
  .about-main-div {
    gap: 50px;
    margin-left: 5px;
    /* width: 100%; */
  }

}
@media screen and (max-width: 1000px) and (min-width: 650px) {
  .companyTitel > h1 {
    font-size: 1.9vw;
  }
  .companyTitel > p {
    font-size: 1.6vw;
  }

  .companyTitel {
    width: 60%;
  }
  .about-main-div {
    gap: 120px;
  }
}
