.img-work{
    width: 330px;
    height: 380px;
    margin: auto;
    margin-top: 40px;
}
.workHome-main-div>h5{
 color: red;
}
.workHome-main-div{
    margin-top: 80px;
    padding: 20px 0px 10px 0px;
} 