/* .carousel-container {
  position: relative;
} */

/* .carousel-item {
  padding: 20px;
  text-align: center;
} */
.testimonial-1{
  padding: 10px;
  height: 100%;
}
.testimonial{
 
  height: 100%;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.testimonial:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.body{
  background-color: #ededed;
}
.testimonial-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px;
  
}

.testimonial-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.testimonial-message {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}
