footer {
  background-color: rgb(27, 27, 27);
  color: #a7a7a7;
  font-size: 16px;
}
footer * {
  /* width: 100%; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
footer > .row {
  padding: 1em 1em;
  margin-left: 0;
}
.row.copyright {
  --bs-gutter-x: 0rem;
}
.row.primary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* align-items: stretch; */
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 0 2em; */
  min-height: 15em;
}
.footer_h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
.footer_ul {
  list-style: none;
  display: flex;
  flex-direction:column;
  padding: 0;
  margin: 0;

  text-align: start;
}
.footer_ul li:not(:first-child) {
  margin-top: 0.8em;
}
.footer_ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
.footer_ul li a:hover,
.social i:hover {
  color: #f2b259;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
.footer_input,
.footer_bt {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.footer_bt {
  background-color: #f2b259;
  color: #121315;
}

.footer_bt:hover {
  background: linear-gradient(
    to right,
    var(--text-gold) 10%,
    rgb(218, 216, 216) 90%
  );
  transition: all 1s;
}

div.social {
  display: flex;
  justify-content: left;
  gap: 10px;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.social i {
  color: #bac6d9;
}

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}
.footer-menu {
  float: left;
  margin-top: 10px;
}

.footer-menu a {
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover {
  color:var(--text-gold);
}
.row{
  margin-right:0px;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
@media screen and (max-width: 399px) {
  .column {
    padding: 0 1em;
  }
  .row * {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width:530px){
  
  .footer-all-links{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .Explore{
    margin-top: -65px;
  }
  .Social-main{
    margin-top: 20px;
  }
  footer > .row {
    --bs-gutter-x: 0;
  }
}
