:root {
  --skin-color: #dcdadaef;
  --skin-color1: #ffffffd6;
  --skin-color2: #1fc586;
  --skin-color3: #2eb1ed;
  --skin-color4: #cc3a3b;
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  /* --text-gold: #d2c776; */
  --text-gold: #ff9900c0;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-gold: inset 3px 3px 3px #beb35b, inset -3px -3px 3px #c2b44d;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 60px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 20px;
}

/* .logo-container {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
} */
.logo-container > div > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}
.footer-container > div > div:first-child {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(
      to right,
      var(--text-gold) 10%,
      rgb(180, 179, 179) 90%
    )
    1 0;
}
.logo-container p {
  text-align: start;
  color: rgb(180, 179, 179);
}

.logo {
  width: 100%;
  max-width: 70px;
  height: auto;
  margin-right: 15px;
}
.footer-container > div {
  width: 33%;
}

.footer-container > div:nth-child(2) {
  justify-content: start;
  align-items: start;
}
.address {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* .logo-container {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.logo-container > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}
.News {
  display: flex;
  flex-direction: column;
}
.logo-container h3 {
  text-align: start;
}

.phone,
.email,
.hours {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.services-container h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}
.footer-container > div > div h1 {
  /* border-style: solid;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(
      to right,
      var(--text-gold) 10%,
      rgb(180, 179, 179) 90%
    )
    1 0; */
  text-align: start;
}

.services-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.services-container li {
  margin: 10px 0;
  font-size: 15px;
  padding: 10px 0px 33px 20px;
  font-weight: lighter;
  text-align: start;
  width: 80%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(
      to right,
      var(--text-gold) 10%,
      rgb(180, 179, 179) 90%
    )
    1 0;
  color: rgb(180, 179, 179);
}

.services-container li:hover {
  transform: translateY(-5px);
  color: var(--text-gold);
  font-size: 16px;
}

.toggle {
  position: relative;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 5%;
  height: 2px;
  background-color: rgb(155, 151, 151);
  transform: translateY(-50%) rotate(90deg);
}

.toggle:hover:before {
  transform: translateY(-50%) rotate(0);
}

.toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 5%;
  height: 2px;
  background-color: rgb(155, 151, 151);
  transform: translateY(-50%) rotate(0);
}

.toggle:hover:after {
  background-color: var(--text-gold);
  transform: translateY(-50%) rotate(180deg);
}

.news-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.news-container h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}
.news-container p{
  display: flex;
  word-wrap: normal;
  justify-content: center;
  align-items: center
  ;
}
.news-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.news-item:hover {
  transform: translateY(-5px);
}

.news-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.news-item:hover img {
  animation: spin 3s infinite linear;
  transition: all 1.5s ease-in-out;
}

.news-item:hover {
  transform: translateY(-5px);
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */
  transition: all 0.5s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media queries for tablets */
@media only screen and (max-width: 1024px) {
  .footer-container {
    max-width: 768px;
    padding: 0 10px;
  }

  .logo-container > div > div {
    align-items: center;
    text-align: center;
  }

  .logo-container > div:first-child {
    padding-bottom: 20px;
  }

  .logo {
    max-width: 50px;
  }

  .footer-container > div {
    width: 50%;
  }

  .address {
    margin-top: 30px;
  }

  .services-container {
    margin-top: 30px;
  }
}

/* Media queries for mobile */
@media only screen and (max-width: 767px) {
  .footer-container {
    max-width: 100%;
    padding: 0 10px;
    flex-direction: column;
    gap: 30px;
  }

  .logo-container > div > div {
    align-items: center;
    text-align: center;
  }

  .logo-container > div:first-child {
    padding-bottom: 20px;
  }

  .logo {
    max-width: 50px;
  }

  .footer-container > div {
    width: 100%;
  }

  .address {
    margin-top: 30px;
  }

  .services-container {
    margin-top: 30px;
  }

  .services-container h3 {
    text-align: center;
  }

  /* .services-container li {
    text-align: center;
  } */
}
