.parent {
    display: block;
    position: relative;
    float: left;
    /* line-height: 30px; */
  }
  
  .parent>a {
    margin: 8px;
    /* color: #FFFFFF; */
    text-decoration: none;
  }
  .children{
    padding: 8px;
  }
  .parent:hover > ul {
    display: block;
    position: absolute;
  }
  
  .child {
    display: none;
  }
  
  .child li {
    background-color: white;
    /* line-height: 30px; */
    border-bottom: #CCC 1px solid;
    width: 100%;
    border-radius: 5px;
  }
  
  .child li a {
    color: #000000;
  }
  
  .main ul {
    list-style: none;
    margin: 5%;
    padding: 0px;
    min-width: 10em;
  }
  
 .main ul  ul  ul {
    left: 96%;
    top: 0;
    /* margin-left: 1px; */
  }
  
  /* li:hover {
    background-color: #95B4CA;
  } */
  
  .parent li:hover {
    background-color: #F0F0F0;
  }
