:root {
    --skin-color: #dcdadaef;
    --skin-color1: #ffffffd6;
    --skin-color2: #1fc586;
    --skin-color3: #2eb1ed;
    --skin-color4: #cc3a3b;
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    /* --text-gold: #d2c776; */
    --text-gold: #ff9900c0;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-gold: inset 3px 3px 3px #beb35b, inset -3px -3px 3px #c2b44d;
  }

.content-main-div>img{
    width: 100%;
}
.concept-card{
    width: 100%;
    padding: 0px 20px;
    gap: 40px;
}
.concept-icon{
    border-bottom: 4px solid var(--text-gold);
    padding: 20px;
    width: fit-content;
    font-size: 60px;
    transition: 1.5s;
    border-radius: 50%;
    margin-top: -50px;
    background-color: white;
}
.concept-card>div:hover .concept-icon{
    cursor: pointer;
    rotate: 360deg;
    color: rgb(151, 147, 147);
    border: 4px solid var(--text-gold);
    /* background-color: var(--text-gold); */
    transition: 1.5s;
    
}
.arrow{
    margin-top: 3px;
}
#concept-card a{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.concept-card>div{
   
    width: 28%;
    position: relative;

   margin-top: -30px;
    /* margin-bottom: 20px; */
    z-index: 9;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    /* padding: 20px; */
}
.concept-card>div>div>p{
    font-size: 1.1vw;
}

.concept-card>div>div:nth-child(2){
    padding: 15px;
}
.concept-card>div>div:last-child>a:hover{
    color: var(--text-gold);
}
.concept-card>div>div:last-child{
    padding: 13px;
    border-radius: 0px 0px 10px 10px;
    background-color: #ededed;
}
.concept-card>div>div{

    margin: 0px;
    width: 100%;
}
@media only screen and (max-width: 530px){
    .content-main-div{
        margin-top: 60px;
    }

}
@media only screen and (max-width: 900px){
    #concept-card{
        flex-direction: column;
    gap: 50px;
    }
    #concept-card>div{
        width: 80%;
        margin-top: 80px;
    }
    #concept-card h3{
        font-size: 27px;
    }
    #concept-card p{
        font-size: 18px;
    }
    #concept-card a{
        font-size: 20px;
    }
}