
  .pro-main{
    margin-top: 180px;
  }
  .related-images{
    flex-wrap: wrap;
    gap: 10px;
  }
  .related-images>img{
    width: 120px;
    height: 80px;
    border-radius: 5px;
  }
  .HeroImages-main-div{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .HeroImage{
    width: 60%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .showHeroImage{
    width: 100%;
    
  }
  .hideHeroImage{
    width: 100%;
    filter: blur(10px)
  }
 .hide{
    position: absolute;
    background-color: red;
    padding: 15px 80px;
    border-radius: 5px;  
  }
  .showImage{
    display: none;
  }
  .HeroImage-content-div{
    width: 30%;
    text-align: left;
  
    padding: 20px;
  }
  .HeroImage-button{
    background-color: red;
    width: 100%;
    padding: 10px 0px ;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    margin-bottom: 5px;
  }
  /* Carousel css */
/* Styling for the project image */
.img-work {
  border-radius: 5px;
  height: 300px !important;
}
.see-all-link{
display: flex;
justify-content: end;
}