@import url("../../Root/Color.css");
.appointment-div {
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.appointment-main-div {
  background-color: #f2b259;
  padding: 20px 0px;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}
.appointment-bt {
  background-color: white;
  border: 1px solid white;
  padding: 10px 30px;
  transition: 0.5s;
}
.appointment-bt:hover {
  background: linear-gradient(
    to right,
    var(--text-gold) 10%,
    rgb(218, 216, 216) 90%
  );
  /* color: white; */
  transition: 1s;
  border: 1px solid #de9c40;
}
@media screen and (max-width: 1000px) and (min-width: 0px) {
  .appointment-div {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 530px){
  .appointment-div>h4{
    display: none;
  }
}
